html {
  font-size: calc((1vmin + 1vmax) / 4 + 0.75em);
  font-size: max(calc((1vmin + 1vmax) / 4 + 0.75em), 1em);
}

:root {
  --warm-dark-color: 28, 15, 19;
  --cool-dark-color: 29, 53, 87;
  --warm-mid-color: 244, 162, 97;
  --cool-light-color: 240, 248, 234;
  --warm-light-color: 251, 254, 249;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
}

.fadein-full {
  animation: _fadein 1s forwards;
  opacity: 0;
}

@keyframes _fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
